<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.ShijuanMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Shijuan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shijuanmingcheng" property="shijuanmingcheng" jdbcType="VARCHAR" />
    <result column="timu" property="timu" jdbcType="VARCHAR" />
    <result column="bjdh" property="bjdh" jdbcType="VARCHAR" />
    <result column="courseID" property="courseID" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shijuanmingcheng, timu, bjdh, courseID, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.ShijuanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shijuan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shijuan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shijuan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.ShijuanExample" >
    delete from shijuan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Shijuan" >
    insert into shijuan (id, shijuanmingcheng, timu, 
      bjdh, courseID, status
      )
    values (#{id,jdbcType=INTEGER}, #{shijuanmingcheng,jdbcType=VARCHAR}, #{timu,jdbcType=VARCHAR}, 
      #{bjdh,jdbcType=VARCHAR}, #{courseID,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Shijuan" >
    insert into shijuan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shijuanmingcheng != null" >
        shijuanmingcheng,
      </if>
      <if test="timu != null" >
        timu,
      </if>
      <if test="bjdh != null" >
        bjdh,
      </if>
      <if test="courseID != null" >
        courseID,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shijuanmingcheng != null" >
        #{shijuanmingcheng,jdbcType=VARCHAR},
      </if>
      <if test="timu != null" >
        #{timu,jdbcType=VARCHAR},
      </if>
      <if test="bjdh != null" >
        #{bjdh,jdbcType=VARCHAR},
      </if>
      <if test="courseID != null" >
        #{courseID,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.ShijuanExample" resultType="java.lang.Integer" >
    select count(*) from shijuan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shijuan
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shijuanmingcheng != null" >
        shijuanmingcheng = #{record.shijuanmingcheng,jdbcType=VARCHAR},
      </if>
      <if test="record.timu != null" >
        timu = #{record.timu,jdbcType=VARCHAR},
      </if>
      <if test="record.bjdh != null" >
        bjdh = #{record.bjdh,jdbcType=VARCHAR},
      </if>
      <if test="record.courseID != null" >
        courseID = #{record.courseID,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shijuan
    set id = #{record.id,jdbcType=INTEGER},
      shijuanmingcheng = #{record.shijuanmingcheng,jdbcType=VARCHAR},
      timu = #{record.timu,jdbcType=VARCHAR},
      bjdh = #{record.bjdh,jdbcType=VARCHAR},
      courseID = #{record.courseID,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Shijuan" >
    update shijuan
    <set >
      <if test="shijuanmingcheng != null" >
        shijuanmingcheng = #{shijuanmingcheng,jdbcType=VARCHAR},
      </if>
      <if test="timu != null" >
        timu = #{timu,jdbcType=VARCHAR},
      </if>
      <if test="bjdh != null" >
        bjdh = #{bjdh,jdbcType=VARCHAR},
      </if>
      <if test="courseID != null" >
        courseID = #{courseID,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Shijuan" >
    update shijuan
    set shijuanmingcheng = #{shijuanmingcheng,jdbcType=VARCHAR},
      timu = #{timu,jdbcType=VARCHAR},
      bjdh = #{bjdh,jdbcType=VARCHAR},
      courseID = #{courseID,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>